<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dk.eboks.app">

    <uses-permission
        android:name="android.permission.INTERNET"
        tools:remove="android:maxSdkVersion" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:remove="android:maxSdkVersion" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:remove="android:maxSdkVersion" />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="false" />

    <application
        android:name="dk.eboks.app.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="${APP_NAME}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- nstack app id and key from build.gradle manifest placeholder -->
        <meta-data
            android:name="dk.nodes.nstack.appId"
            android:value="${appId}"
            tools:replace="android:value" />
        <meta-data
            android:name="dk.nodes.nstack.apiKey"
            android:value="${apiKey}"
            tools:replace="android:value" />

        <!-- hockey id included from build.gradle manifest placeholder -->
        <meta-data
            android:name="net.hockeyapp.android.appIdentifier"
            android:value="${HOCKEYAPP_APP_ID}" />

        <activity android:name="dk.eboks.app.presentation.ui.screens.start.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="dk.eboks.app.presentation.ui.screens.debug.hinter.HintActivity" />
        <activity android:name="dk.eboks.app.presentation.ui.screens.debug.ComponentTestActivity" />
        <activity android:name="dk.eboks.app.presentation.ui.screens.debug.DebugActivity" />
        <activity android:name="dk.eboks.app.presentation.ui.screens.debug.user.DebugUserActivity" />
        <activity android:name="dk.eboks.app.pasta.activity.PastaActivity" />
        <activity android:name="dk.eboks.app.presentation.ui.screens.Overlay.OverlayActivity"
            android:theme="@style/TransTheme" />
        <activity android:name="dk.eboks.app.presentation.ui.screens.mail.overview.MailOverviewActivity" android:launchMode="singleTop" />
        <activity android:name="dk.eboks.app.presentation.ui.screens.mail.list.MailListActivity" android:launchMode="singleTop" />
        <activity android:name="dk.eboks.app.presentation.ui.screens.mail.folder.FolderActivity" android:launchMode="singleTop" />
        <activity android:name="dk.eboks.app.presentation.ui.screens.message.MessageActivity" />
        <activity android:name="dk.eboks.app.presentation.ui.screens.message.opening.MessageOpeningActivity" />
        <activity android:name="dk.eboks.app.presentation.ui.screens.message.embedded.MessageEmbeddedActivity" />
        <activity android:name="dk.eboks.app.presentation.ui.screens.channels.overview.ChannelOverviewActivity" android:launchMode="singleTop" />
        <activity android:name="dk.eboks.app.presentation.ui.screens.channels.content.ChannelContentActivity" />
        <activity android:name="dk.eboks.app.presentation.ui.screens.channels.content.storebox.StoreboxContentActivity" />
        <activity android:name="dk.eboks.app.presentation.ui.screens.senders.overview.SendersOverviewActivity" android:launchMode="singleTop" />
        <activity android:name="dk.eboks.app.presentation.ui.screens.senders.browse.BrowseCategoryActivity" />
        <activity android:name="dk.eboks.app.presentation.ui.screens.senders.browse.SearchSendersActivity" />
        <activity android:name="dk.eboks.app.presentation.ui.screens.senders.detail.SenderDetailActivity" />
        <activity android:name="dk.eboks.app.presentation.ui.screens.profile.ProfileActivity" android:launchMode="singleTop" />
        <activity android:name="dk.eboks.app.presentation.ui.screens.home.HomeActivity" android:launchMode="singleTop" />
        <activity android:name="dk.eboks.app.presentation.ui.screens.uploads.UploadsActivity" android:launchMode="singleTop" />
        <activity android:name="dk.eboks.app.presentation.ui.screens.senders.segment.SegmentDetailActivity" />
        <activity android:name="dk.eboks.app.presentation.ui.screens.senders.registrations.RegistrationsActivity" />
        <activity android:name="dk.eboks.app.presentation.ui.screens.senders.registrations.PendingActivity" />

        <activity android:name="dk.eboks.app.system.managers.permission.PermissionRequestActivity" />
        <activity
            android:name="dk.eboks.app.presentation.base.SheetComponentActivity"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/TransTheme" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>
</manifest>