<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dk.nodes.template">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="replace" />

    <application
        android:name="dk.nodes.template.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${APP_NAME}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- nstack app id and key from build.gradle manifest placeholder -->
        <meta-data
            android:name="dk.nodes.nstack.appId"
            android:value="${appId}"
            tools:replace="android:value" />
        <meta-data
            android:name="dk.nodes.nstack.apiKey"
            android:value="${apiKey}"
            tools:replace="android:value" />

        <meta-data
            android:name="dk.nodes.nstack.env"
            android:value="staging"
            tools:replace="android:value" />

        <activity android:name="dk.nodes.template.presentation.ui.splash.SplashActivity"
            android:theme="@style/NoToolbarAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="dk.nodes.template.presentation.ui.main.MainActivity" android:exported="false">
        </activity>
    </application>
</manifest>